<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.spring5218.mypro00.mapper.MyReplyMapper">

<!-- 특정 게시물에 대한 댓글 목록 조회 -->
	 <select id="selectMyReplyList" resultType="com.spring5218.mypro00.domain.MyReplyVO">
 	<![CDATA[
 		SELECT bno, rno, rcontent, rwriter, rregDate, rmodDate, prno, LEVEL AS lvl
 		FROM ( SELECT /*+ INDEX_ASC (a IDX_MYREPLY_BNO_RNO) */ *
 			   FROM book_ex.tbl_myreply
 			   WHERE bno = #{bno} ) a
 		START WITH prno IS NULL
 		CONNECT BY PRIOR rno = prno
 		]]>
 	</select>
 
<!-- 특정 게시물에 대한 댓글 등록-->
	 <insert id="insertMyReplyForBoard">
	 	<selectKey keyProperty="rno" order="BEFORE" resultType="long">
	 		SELECT book_ex.seq_myreply.NEXTVAL FROM dual
	 	</selectKey>
	 		INSERT INTO book_ex.tbl_myreply(bno, rno, rcontent, rwriter, rregDate, rmodDate, prno)
	 		VALUES (#{bno}, #{rno}, #{rcontent}, #{rwriter}, DEFAULT, DEFAULT, DEFAULT)
	 </insert>

<!-- 댓글에 대한 답글 등록-->
	 <insert id="insertMyReplyForReply">
	 	<selectKey keyProperty="rno" order="BEFORE" resultType="long">
	 		SELECT book_ex.seq_myreply.NEXTVAL FROM dual
	 	</selectKey>
	 	INSERT INTO book_ex.tbl_myreply(bno, rno, rcontent, rwriter, rregDate, rmodDate, prno)
	 	VALUES (#{bno}, #{rno}, #{rcontent}, #{rwriter}, DEFAULT, DEFAULT, #{prno})
	 </insert>
 
<!-- 특정 게시물에 대한 특정 댓글/답글 조회-->
	 <select id="selectMyReply" resultType="com.spring5218.mypro00.domain.MyReplyVO">
	 <![CDATA[
	 	SELECT * FROM book_ex.tbl_myreply WHERE bno= #{bno} AND rno = #{rno}
	 ]]>
	 </select>
	 
<!-- 특정 게시물에 대한 특정 댓글/답글 수정 -->
	 <update id="updateMyReply">
	 <![CDATA[
		 UPDATE book_ex.tbl_myreply
		 SET rcontent = #{rcontent},
		 rmodDate = DEFAULT
		 WHERE bno= #{bno} AND rno = #{rno}
	 ]]>
	 </update>
	 
<!-- 특정 게시물에 대한 특정 댓글/답글 삭제 -->
	 <delete id="deleteMyReply">
	 <![CDATA[
	 	DELETE FROM book_ex.tbl_myreply WHERE bno= #{bno} AND rno = #{rno}
	 ]]>
	 </delete>

<!-- 댓글 목록 - 계층 쿼리 (페이징) -->
	 <select id="selectMyReplyList" resultType="com.spring5218.mypro00.domain.MyReplyVO">
	 <![CDATA[
	 	SELECT bno, rno, rcontent, rwriter, rregDate, rmodDate, prno, lvl
	 	FROM ( SELECT ROWNUM rn, b.*
	 			FROM ( SELECT LEVEL lvl, a.*
	 					FROM ( SELECT /*+ INDEX_ASC (a IDX_MYREPLY_BNO_RNO) */ *
	 							FROM book_ex.tbl_myreply
								WHERE bno = #{myReplyPagingDTO.bno}
								) a
	 					START WITH prno IS NULL
	 					CONNECT BY PRIOR rno = prno
	 					) b
	 			)
	 WHERE rn BETWEEN #{myReplyPagingDTO.pageNum} * #{myReplyPagingDTO.rowAmountPerPage}
	 					- (#{myReplyPagingDTO.rowAmountPerPage} - 1) 
	 			AND #{myReplyPagingDTO.pageNum} * #{myReplyPagingDTO.rowAmountPerPage}
	 ]]>
	 </select>

<!-- 특정 게시물의 댓글 총 개수확인 -->
 	<select id="selectReplyTotalByBno" resultType="int">
 	<![CDATA[
 		SELECT /*+ INDEX (TBL_MYREPLY IDX_MYREPLY_BNO_RNO) */ count(*)
 		FROM book_ex.tbl_myreply
 		WHERE bno = #{ myReplyPagingDTO.bno}
 	]]>
 	</select>	 
	 
	 
</mapper>